/node_modules
/build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Project lock files
*/yarn.lock
yarn.lock
package-lock.json  

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/*